{% extends 'template.html' %}
{% load static %}

{% block content %}

<p class="center_text">마지막 업데이트 : {{v_time}}</p>
<div class="contaoiner">
	<table>
  <tr class="table_head">
    <td>접종횟수</td>
    <td>1차접종자</td>
    <td>2차접종자</td>
  </tr>
  <tr class="table_text">
    <td id="total">0</td>
    <td >{{ day_sum.firstCnt }}</td>
    <td >{{ day_sum.secondCnt }}</td>
  </tr>
  <tr class="inc_text_vaccin">
    <td id="todayTotal">0</td>
    <td>+{{ day0_v.firstCnt }}</td>
    <td>+{{ day0_v.secondCnt }}</td>
  </tr>
</table>
</div>
<div class="contaoiner">
<h1 align="center"> 나라별 백신 접종 인원</h1>
<iframe src="/static/vaccinTotal/Total_Vaccinated_People_Map.html" width="100%" height="640px" align=></iframe><br><br>
<h1 align="center"> 백신 접종 인원 Top 20</h1>
<iframe src="/static/vaccinTotal/Total_Vaccinated_People.html" width="100%" height="640px" align=></iframe><br><br>
<h1 align="center"> 백신 접종 인원 비율 Top 20</h1>
<iframe src="/static/vaccinTotal//Total_Vaccination_Percent_Map.html" width="100%" height="640px" align=></iframe><br><br>
<h1 align="center"> 백신 접종 인원 비율 Top 20</h1>
<iframe src="/static/vaccinTotal/Total_Vaccination_Percent.html" width="100%" height="640px" align=></iframe><br><br>
<h1 align="center"> 백신별 사용 국가수</h1>
<iframe src="/static/vaccinTotal/Usage_of_Vaccines_by_Countries.html" width="100%" height="640px" align=></iframe><br><br>
 <h1 align="center"> 국가별 백신 사용수</h1>
<iframe src="/static/vaccinTotal/Total_Number_of_Different_Vaccines.html" width="100%" height="640px" align=></iframe><br><br>
 <h1 align="center"> 국가별 백신 사용지도</h1>
<iframe src="/static/vaccinTotal/Total_Number_of_Different_Vaccines_Map.html" width="100%" height="640px" align=></iframe><br><br>
</div>
<hr>
<div class="contaoiner">
<h2 align="center">백신에 대한 시간별 부정,중립,긍정 빈도수 변화</h2>
<img alt="" src="/static/images/빈도수_그래프(백신).png" width= align="center">
</div>
<div class="contaoiner">
<h2 align="center">아스트라제네카에 대한 시간별 부정,중립,긍정 빈도수 변화</h2>
<img alt="" src="/static/images/빈도수_그래프(AZ).png" width="">
</div>

<div class="contaoiner">
<h2 align="center">화이자에 대한 시간별 부정,중립,긍정 빈도수 변화</h2>
<img alt="" src="/static/images/빈도수_그래프(화이자).png" width="" align="center">
</div>
<br><hr><br>
<div class="contaoiner">
	<h2 align="center">백신에 대한 부정,중립,긍정 빈도수</h2>
	<div align="center">
	<img alt="" src="/static/images/Count_Sentiment(AZ백신).png" width="">
	<img alt="" src="/static/images/Count_Sentiment(백신).png" width="">
	<img alt="" src="/static/images/Count_Sentiment(화이자).png" width="">
</div>
</div>
<div class="contaoiner">
	<h2 align="center"> 워드클라우드 시각화</h2>
	<div align="">
	
	<img alt="" src="/static/images/wordcloud(백신).png" width="">
	<img alt="" src="/static/images/wordcloud(AZ백신).png" width="">
	<img alt="" src="/static/images/wordcloud(화이자).png" width="">
	</div>
</div>

<div class="contaoiner">
 <iframe src="/static/images/Covaxin.html" width="100%" height="640px" align=></iframe><br><br>
 <iframe src="/static/images/Moderna.html" width="100%" height="640px" align=></iframe><br><br>
 <iframe src="/static/images/Oxford_AstraZeneca.html" width="100%" height="640px" align=></iframe><br><br>
 <iframe src="/static/images/Pfizer_BioNTech.html" width="100%" height="640px" align=></iframe><br><br>
 <iframe src="/static/images/Sinopharm.html" width="100%" height="640px" align=></iframe><br><br>
 <iframe src="/static/images/Sinovac.html" width="100%" height="640px" align=></iframe><br><br>
 <iframe src="/static/images/Sputnik V.html" width="100%" height="640px" align=></iframe>
 <div align="center">
 <h2 align="center"> 각 백신별 부정적인 비율 비교</h2>
  <img src="/static/images/negative_zscore.png">
   <h2 align="center"> 전체 백신 부정,중립, 긍정 비교</h2>
  <img src="/static/images/word_senti.png">
<br><br><br><br>
 <img src="/static/images/wordcloud.png" width="100%">

 </div>
  
</div>

<script>
 var day0_tpcd = 2;
 var dayS_tpcd = 2;
 var day0_1 = {{ day0_v.firstCnt }};
 var day0_2 = {{ day0_v.secondCnt }};
 var dayS_1 = {{ day_sum.firstCnt }};
 var dayS_2 = {{ day_sum.secondCnt }};
 
 day0_tpcd = day0_1 + day0_2;
 dayS_tpcd = dayS_1 + dayS_2;
 
 document.getElementById("total").innerText  = dayS_tpcd;
 document.getElementById("todayTotal").innerText  = "+"+day0_tpcd;
</script>
{% endblock %}